---
import PlaceItem from "./PlaceItem.astro";
const { places } = Astro.props;

const categories = new Set(places.map((place: any) => place.data.category));
const placesByCategory: any[] = [];

categories.forEach((element: any) => {
  placesByCategory.push({
    category: element,
    places: places.filter((place: any) => place.data.category == element),
  });
});
---

<section class="places-section">
  {
    placesByCategory.map((categoryWithPlaces: any) => (
      <div class="category-places-container">
        <div class="category-places-header">
          <h3>{categoryWithPlaces.category}</h3>
          {
            categoryWithPlaces.places.length > 3 ?
            <a href={`/categoria/${categoryWithPlaces.category}`}>Ver más...</a>
            :
            <></>
          }
        </div>
        <div class="places-list">
          {
            categoryWithPlaces.places.length > 3 ?
            (() => {
              const places = categoryWithPlaces.places;
              const indices: number[] = [];
              while (indices.length < 3) {
                const idx = Math.floor(Math.random() * places.length);
                if (!indices.includes(idx)) indices.push(idx);
              }
              return indices.map(idx => (
                <PlaceItem
                  pageRef={`./${places[idx].id}`}
                  name={places[idx].data.name}
                  hero={places[idx].data.hero}
                />
              ));
            })()
            :
            categoryWithPlaces.places.map((place: any) => (
              <PlaceItem
                pageRef={`./${place.id}`}
                name={place.data.name}
                hero={place.data.hero}
              />
            ))
          }
        </div>
      </div>
    ))
  }
</section>

<style>
  .category-places-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
  }

  .category-places-header {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
  }

  .category-places-header a {
    text-decoration: none;
    color: black;
    box-shadow: 0 2px 4px 0 white;
  }

  .places-section {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }

  .places-section > h3 {
    width: fit-content;
  }

  .places-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
  }
</style>
